
@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Application.UserInterface.Models.EntityModels.Ekleme.MüşteriEklemeEntityModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adding</title>
</head>
<body>
    <div class="container-fluid">
        @using (Html.BeginForm("Ekleme", "Musteri", FormMethod.Get))
        {

            <div class="form-group">
              <label for="Ad">Müşteri Adı</label>
                <input type="text" id="Ad" name="Ad" class="form-control" placeholder="Müşteri Adını giriniz"/>
            </div>

            <div class="form-group">
                <label for="Soyad">Müşteri Soyadı</label>
                <input type="text" id="Soyad" name="Soyad" class="form-control" placeholder="Müşteri Soyadını giriniz" />
            </div>

            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        }

    </div>
  

</body>
</html>
