
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="container-fluid" style="background-color:ActiveBorder,aquamarine;">
    <div class="container">
            
          <br />
          <br />

            <h1 class="display-7" style="color:cadetblue;">Yücesoy Siparis</h1>
            <hr class="my-5" />
            <h2 class="display-7" style="color:cadetblue;">Müsteri ve Ürün Yönetim Sistemine Hoşgeldiniz</h2>
            
           <br />
          
        <div class="jumbotron">
            <h4 class="options" style="color:darkblue; margin-left:20px;">İşlem Seçeneklerimiz</h4>
            <hr />
            <ul>
              <li><a class="customerProduct" href="~/UrunMusteri/TumUrunMusteriler" role="button">Müşteriler ve Ürünler</a></li>
                <br />

              <li><a class="Product" href="~/Urun/Ekleme" role="button">Ürün Ekleme</a></li>
              <li><a class="Customer" href="~/Musteri/Adding" role="button">Müşteri Ekleme</a></li>
                <br />

                <li><a class="Product" href="~/Urun/Güncelleme" role="button">Ürün Güncelleme</a></li>
                <br />

                <li><a class="Product" href="~/Urun/Silme" role="button">Ürün Silme</a></li>
                <li><a class="Customer" href="~/Musteri/Silme" role="button">Müşteri Silme</a></li>

            </ul>
                    
        </div>
         
                       
    </div>
    
</div>




